p {
    max-width: 1500px;
}
.theorem {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.eg {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.definition {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.cor {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
.prf {
    border: 1px dashed grey;
    padding: 15px;
    margin: 15px;
}
.lem {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
}
