// 見出しのフォントサイズを変更
header.page-header {
  padding: 2px 16px;
}

h1 {
  font-size: 2.0em;
}
h2 {
  font-size: 1.75em;
}
h3 {
  font-size: 1.5em;
}
// その他の見出しタグ (h4, h5, h6) も適宜追加

// 本文のフォントサイズを変更
body {
  line-height: 1.5; // ここで行間を調整します。数字を大きくすると行間が広くなります。
  color: #333333; // ここで文字色を設定します。好みの色に変更してください。
}

// <figure>要素を中央に配置
figure {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

// 文頭インデントを調整
p {
  ont-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 16.5px;
  text-indent: 1em; // ここでインデントの幅を調整します。数字を大きくするとインデントが広くなります。
  margin: 0 16.5px;
}
li {
  ont-family: 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', Meiryo, メイリオ, Osaka, 'MS PGothic', arial, helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.8;
}
